html{font-family: sans-serif;
    font-size: 0.5em;
    background-color: rgb(250, 182, 10);}
    body{width: 80%;
        background-position-x: fixed;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 25px;
    color: blue;}
    #image1{float: left;}
    .image1{font-weight: 400;
    color: rgb(5, 5, 94);
    font-size: 60px;
    width: auto;
    padding-right: 5%;}
    div1{padding: 0%;
    margin: 0%;
    max-width: 90%;}
    button{width: 180px;
    height: 50px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    max-width: auto;
    max-height: auto;
    font-size: 25px;
    font-weight: 600;}
    .flex-container{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        background-color: white;
        height: 100px;
        margin-top: 50px;
        max-width: 100%;
        border-radius: 20px;
        font-size: 30px;
        
    }
    #property{
        font-size: 30px;
        border-color: white;
        background-color: white;
    }
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 100px;
    }
    .form{
        padding-left: 2%;
        padding-right: 2%;
        width: 27%;
        padding-top: 5px;
    }
    #form2{box-shadow: 2px 0px 2px 2px 2em;}
    .image2{float: left;
    padding-right: 10%;}
    #image{ padding: 10%;
    padding-left: 0%;}
    .imageii{margin-bottom: 15%;
    font-size: 30px;}
    .p1{font-size: 45px;
    font-weight: 700;
    color: rgb(9, 9, 90);}
    #p1{font-size: 25px;
    font-weight: 80;}
    #amen{float: right;}
    #afford{float: right;}
    .container1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: auto;
        margin-bottom: 10px;
    
    }
    #image4{background-color: white;
    margin-right: 5%;
    border-radius: 20px;}
    .container2{
        display: flex;
      flex-direction: row;
      justify-content: space-between;
    
    }
    .alex{background-color: white;
        border-radius: 5%;
        padding: 3%;
        padding-bottom: 0%;
    }
    td, th{text-align: left;}
    table{width: 100%;}
    .container3{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .container4{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
.div1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 200%;
    color: rgb(7, 7, 83);
    font-weight: 500px;
    margin-top: 50px;
    padding-top: 50px;
}
#div1{
    font-size: 70%;
    color: black 0.8em;
    font-weight: 300px;
}
.div12{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 200%;
    color: rgb(5, 5, 83);
    font-weight: 700;
}
h3{
    font-size: 180%;
    font-weight: 800;
    color: red;
}
#paragraph{
    font-size: 120%;
    color: blue;
}
h5{
    color: rgb(243, 179, 17);
}
h2{color: rgb(245, 178, 9);}
h4{color: black;}
footer{
    height: 400px;
    margin-top: 10%;
    background-color: black;
    color: white;
}
#table{
    padding-top: 50px;
    padding-left: 10%;
}
header{
    padding-top: 15px;
    padding-bottom: 10px;
}
#alex{
    font-size: 80%;
}
#list{color: rgb(30, 30, 212);}
.list{color: black;
font-weight: 100;}
@media  screen and (max: width 720px){
    css-styles{
        font-size: 50%;
        margin-left: 3%;
        margin-right: 3%;
        padding: 2%;
        overflow: scroll;
    }
}