footer{background-color: rgb(5, 5, 194);
    color: white;
    height:300px;
    margin-top: 50px;}
    table{font-size: medium;}
    .estate{font-style: italic;}
    th{font-weight:bold;}
    #home{color: blue;}
    body{
        font-size: 20px;
        background-color: whitesmoke;
    }
    .rent{float: right;
    border: 2px rgb(253, 251, 251);
    padding-right: 500px;}
    #start{float:right;
    width: 70px;
height: 50px;}
    button{background-color: blue;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 50px;}
    #helping{color: blue;
    font-size: 50px;}
    .pic1{padding: 50px;
    padding-left: 100px;
    width: 170%;
font-size: 30px;
font-family: Verdana, Geneva, Tahoma, sans-serif;}
    .form{size: 80px;
    margin: 50px;
    border: 100px;}
    form{float:left;
    padding: 42px;
    background-color: white;
    margin: 20px;}
    form1{float: left;
        background-color: white;
    padding: 42px;
    margin: 50px;}
    .palace{margin-left: 90px;
    margin-right: 90px;}
    form2{float: left;
    padding: 42px;
    background-color: white;
    margin: 40px;}
    body{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
    .last{float: right;
    margin-right: 200px;}
    .secondlast{float:right;
    margin-right: 200px;}
    .image{
        margin-right: 200px;
        margin-left: 600px;
    
    }
    #customer{color: rgb(5, 5, 122);
    }
    #client{margin-left: 500px;}
    .esteemed{margin-left: 100px;
    margin-right: 100px;}
    .rent::shadow{box-shadow: 2px 2px rgb(126, 118, 118);}
    header{padding-bottom: 10px;
    padding-top: 10px;}
    .address1{height: 200px;
    width: 100px;
    padding-left: 100px;}
    .address2{height: 220px;
    width: 200px;
    padding-left: 100px;}
    .partnership{background-color: blue;
    margin-top: 200px;}
    .feature{color:rgb(8, 8, 92);
    padding-left: 550px;}
    .product{padding-left: 500px;}
    .our{color:rgb(6, 6, 83);
    padding-left: 100px;}
    .how{padding-left: 550px;
    color: rgb(7, 7, 99);}
    .this{padding-left: 500px;}
    #link{padding-top: 50px;}
    .palace{box-shadow: 5px 5px 2em;}
    #location{color: rgb(5, 5, 102);
    font-size: medium;
font-family: Arial, Helvetica, sans-serif;}
#select{ align-items: center;
    align-self: center;
width: 95%;
}